<li id="<%= device.id %>" class="bit-card device">
  <h2 class="label"><%= device.label %></h2>

  <%= render "shared/screen", uri: device.image_uri %>

  <div class="bit-pill bit-pill-active">Current Screen</div>

  <%= render "measurements", device: %>

  <div class="actions">
    <%= render "shared/actions/show",
               path: routes.path(:device, id: device.id),
               target: "closest .page-devices" %>

    <%= render "shared/actions/edit",
               path: routes.path(:device_edit, id: device.id),
               target: "closest .page-devices" %>

    <%= render "shared/actions/logs", path: routes.path(:device_logs, device_id: device.id) %>

    <%= render "shared/actions/delete",
               path: routes.path(:device_delete, id: device.id),
               confirm: "Are you sure you want to delete this device?",
               target: "closest .device" %>
  </div>
</li>
