<%= render "shared/title", text: "Edit #{device.label} Device" %>

<section class="page-devices">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Devices", routes.path(:devices), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to device.label, "/devices/#{device.id}", class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card device">
      <h1 class="label">Edit Device</h1>

      <%= render "shared/screen", uri: device.image_uri %>

      <div class="bit-pill bit-pill-active">Current Screen</div>

      <%= render "measurements", device: %>

      <form action="/devices" method="put" class="bit-form">
        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <%= render :fields, models:, playlists:, device:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :put,
                     path: routes.path(:device_update, id: device.id),
                     target: ".page-devices" %>

          <a href="<%= routes.path :device, id: device.id %>"
             class="bit-button-decline"
             hx-get="<%= routes.path :device, id: device.id %>"
             hx-trigger="click"
             hx-target="closest .page-devices"
             hx-swap="outerHTML"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
