<%= render "shared/title", text: "New Device" %>

<section class="bit-page page-devices">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Devices", routes.path(:devices), class: :link %></li>
      <li class="bit-breadcrumb">New</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card device">
      <h1 class="label">New Device</h1>

      <form action="/devices" method="post" class="bit-form">
        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <%= render :fields, models:, playlists:, device:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :post,
                     path: routes.path(:device_create),
                     target: ".page-devices" %>

          <%= link_to "Cancel", routes.path(:devices), class: "bit-button-decline" %>
        </div>
      </form>
    </div>
  </div>
</section>
