<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title><%= content_for :title %></title>

    <meta charset="utf-8">
    <meta name="description" content="A TRMNL server.">
    <meta name="author" content="TRMNL">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="htmx-config" content='{"selfRequestsOnly":true}'>
    <meta name="view-transition" content="same-origin">

    <%= tag.link title: "Terminus: Icon",
                 rel: :icon,
                 href: main_assets["logo/salmon.svg"],
                 type: "image/svg+xml" %>

    <%= tag.link title: "Terminus: Apple Icon",
                 rel: "apple-touch-icon",
                 href: main_assets["logo/apple.png"] %>

    <%= tag.link title: "Terminus: Manifest",
                 rel: :manifest,
                 href: main_assets["manifest.webmanifest"] %>

    <%= tag.link title: "Terminus: Stylesheet",
                 rel: :stylesheet,
                 href: assets["app.css"] %>

    <%= javascript_tag "app.js" %>
  </head>

  <body class="site-page site-authentication">
    <header>
      <%= link_to routes.path(:root), class: "site-label" do %>
        <%= tag.img src: main_assets["logo/salmon.svg"], alt: "Logo", width: 30, height: 30 %>
        <h1 class=label>Terminus</h1>
      <% end %>
    </header>

    <main class="site-body">
      <% if flash[:alert] %>
        <div class="site-alert">
          <p><%= flash[:alert] %></p>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="site-notice">
          <p><%= flash[:notice] %></p>
        </div>
      <% end %>

      <div class="content">
        <section class="panel">
          <%= yield %>
        </section>
      </div>
    </main>

    <footer class="site-footer">
      <%= render "../shared/footer" %>
    </footer>
  </body>
</html>
