<%= render "shared/title", text: user.name %>

<section class="page-users">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Users", routes.path(:users), class: :link %></li>
      <li class="bit-breadcrumb"><%= user.name %></li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card user">
      <h2 class="label"><%= user.name %></h2>

      <div class="actions">
        <%= render "shared/actions/edit",
                   path: routes.path(:user_edit, id: user.id),
                   target: "closest .page-users" %>
      </div>

      <dl class="bit-definition-list">
        <dt class="key">Name</dt>
        <dd class="value"><%= user.name %></dd>

        <dt class="key">
          Email
          <%= render "shared/popovers/trigger", name: :email %>
        </dt>
        <dd class="value"><%= tag.a user.email, href: "mailto:#{user.email}" %></dd>

        <dt class="key">
          Status
          <%= render "shared/popovers/trigger", name: :status %>
        </dt>
        <dd class="value"><%= user.status.name %></dd>

        <dt class="key">Created</dt>
        <dd class="value"><%= human_at user.created_at %></dd>

        <dt class="key">Updated</dt>
        <dd class="value"><%= human_at user.updated_at %></dd>
      </dl>
    </div>
  </div>
</section>

<%= render "popovers/all" %>
