<% content_for :htmx_merge, "defaultSwapStyle" => "innerHTML" %>

<%= render "shared/title", text: "Designer" %>

<section class="bit-page page-designer">
  <header class="bit-header">
    <h1 class="label">
      Designer

      <button class="bit-popover-trigger" popovertarget="popover-shortcuts">
        <%= image_tag "icons/info.svg", width: 20, height: 20, loading: :lazy %>
      </button>
    </h1>

    <dialog id="popover-shortcuts" class="bit-popover-content" popover="auto">
      <button class="close" popovertarget="popover-shortcuts" popovertargetaction="hide">
        <span aria-hidden=true>❌</span>
        <span class="screen_reader">Close</span>
      </button>

      <h3 class="label">Overview</h3>

      <p>Use the text area to design custom screens for your device using pure HTML/CSS. Changes are applied automatically as you make edits and saved as a screen which you can view via the <%= link_to "Screens", routes.path(:screens) %> page.</p>
    </dialog>
  </header>

  <div class="designer">
    <figure class="device"
            hx-ext="sse"
            sse-connect="/preview/<%= name %>"
            sse-swap="preview">
      <%= image_tag "loader.svg", alt: "Loader", width: 800, height: 480 %>
    </figure>

    <form action="/designer" method="post" class="form">
      <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>
      <%= tag.input name: "template[name]", type: :hidden, value: name %>
      <%= tag.input name: "template[label]", type: :hidden, value: label %>

      <textarea name="template[content]"
                class="source"
                hx-post="/designer"
                hx-trigger="load, keyup delay:200ms"
                hx-swap="textContent"><%= render :welcome %></textarea>
    </form>
  </div>
</section>
