<%= render "shared/title", text: "Edit #{screen.label} Screen" %>

<section class="page-screens">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Screens", routes.path(:screens), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to screen.label, routes.path(:screen, id: screen.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="screens">
      <form action="<%= routes.path :screen_update, id: screen.id %>"
            method="put"
            class="bit-card bit-form screen">

        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <h1 class="label">Edit Screen</h1>

        <%= render "shared/screen", uri: screen.image_uri %>
        <%= render :fields, models:, screen:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :put,
                     path: routes.path(:screen_update, id: screen.id),
                     target: ".page-screens" %>

          <a href="<%= routes.path :screen, id: screen.id %>"
             class="bit-button-decline"
             hx-get="<%= routes.path :screen, id: screen.id %>"
             hx-trigger="click"
             hx-target="closest .page-screens"
             hx-swap="outerHTML"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
