<%= render "shared/title", text: "New Screen" %>

<section class="page-screens">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><a href="/screens" class="link">Screens</a></li>
      <li class="bit-breadcrumb">New</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="screens">
      <form action="/screens" method="post" class="bit-card bit-form screen">
        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <h1 class="label">New Screen</h1>

        <%= render :fields, models:, screen:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :post,
                     path: routes.path(:screen_create),
                     target: ".page-screens" %>

          <%= link_to "Cancel", routes.path(:screens), class: "bit-button-decline" %>
        </div>
      </form>
    </div>
  </div>
</section>
