<%= render "shared/title", text: "#{screen.label} Screen" %>

<section class="bit-page page-screens">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><a href="/screens" class="link">Screens</a></li>
      <li class="bit-breadcrumb"><%= screen.label %></li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card screen">
      <h2 class="label"><%= screen.label %></h2>

      <%= render "shared/screen", uri: screen.image_uri %>

      <div class="actions">
        <%= render "shared/actions/edit",
                   path: routes.path(:screen_edit, id: screen.id),
                   target: "closest .page-screens" %>

        <%= render "shared/actions/download", path: screen.image_uri, name: screen.image_name %>
      </div>

      <dl class="bit-definition-list">
        <dt class="key">
          Name
          <%= render "shared/popovers/trigger", name: :name %>
        </dt>
        <dd class="value"><%= screen.name %></dd>

        <dt class="key">
          Model
          <%= render "shared/popovers/trigger", name: :model %>
        </dt>
        <dd class="value"><%= screen.model.label %></dd>

        <dt class="key">MIME Type</dt>
        <dd class="value"><%= screen.mime_type %></dd>

        <dt class="key">Dimensions</dt>
        <dd class="value"><%= screen.dimensions %></dd>

        <dt class="key">Bit Depth</dt>
        <dd class="value"><%= screen.bit_depth %></dd>

        <dt class="key">Size</dt>
        <dd class="value"><%= size screen.image_size %></dd>

        <dt class="key">Created</dt>
        <dd class="value"><%= human_at screen.created_at %></dd>

        <dt class="key">Updated</dt>
        <dd class="value"><%= human_at screen.updated_at %></dd>
      </dl>
    </div>
  </div>
</section>

<%= render "popovers/all" %>
