<li id="<%= model.id %>" class="bit-card model">
  <h2 class="label"><%= model.label %></h2>

  <%= tag.span model.kind_label %>
  <%= tag.span model.type %>
  <%= tag.span model.dimensions %>

  <div class="actions">
    <%= render "shared/actions/show",
               path: routes.path(:model, id: model.id),
               target: "closest .page-models" %>

    <%= render "shared/actions/edit",
               path: routes.path(:model_edit, id: model.id),
               target: "closest .page-models" %>

    <%= render "shared/actions/delete",
               path: routes.path(:model_delete, id: model.id),
               confirm: "Are you sure you want to delete this model?",
               target: "closest .model" %>
  </div>
</li>
