<%= render "shared/title", text: "Edit #{model.label} Model" %>

<section class="page-models">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Models", routes.path(:models), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to model.label, routes.path(:model, id: model.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="models">
      <form action="<%= routes.path :model_update, id: model.id %>"
            method="put"
            class="bit-card bit-form model">

        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <h1 class="label">Edit Model</h1>

        <%= render :fields, model:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :put,
                     path: routes.path(:model_update, id: model.id),
                     target: ".page-models" %>

          <a href="<%= routes.path :model, id: model.id %>"
             class="bit-button-decline"
             hx-get="<%= routes.path :model, id: model.id %>"
             hx-trigger="click"
             hx-target="closest .page-models"
             hx-swap="outerHTML"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
