<%= render "shared/title", text: "Models" %>

<section class="bit-page page-models">
  <header class="bit-header">
    <h1 class="label">
      Models

      <button class="bit-popover-trigger" popovertarget="popover-shortcuts">
        <%= image_tag "icons/info.svg", width: 20, height: 20, loading: :lazy %>
      </button>
    </h1>

    <dialog id="popover-shortcuts" class="bit-popover-content" popover="auto">
      <button class="close" popovertarget="popover-shortcuts" popovertargetaction="hide">
        <span aria-hidden=true>❌</span>
        <span class="model_reader">Close</span>
      </button>

      <h3 class="label">Overview</h3>

      <p>Models provide the low-level specifications for <%= link_to "Devices", routes.path(:devices) %> and <%= link_to "Screens", routes.path(:screens) %>. These specifications dictate how screens should be created and rendered on your devices. All models must use unique labels and names so you can distinguish between them.</p>

      <h3 class="label">Search</h3>

      <p>You can fuzzy search by model label using partial or full label.</p>

      <h3 class="label">Keyboard Shortcuts</h3>

      <ul>
        <li><kbd>CONTROL + n</kbd>: New model.</li>
        <li><kbd>CONTROL + s</kbd>: Save model (when within form).</li>
      </ul>
    </dialog>

    <div class="actions">
      <%= render "shared/search",
                 path: routes.path(:models),
                 query:,
                 pick: ".models",
                 target: "next .models" %>

      <a href="/models/new"
         class="bit-button-accept"
         hx-get="/models/new"
         hx-trigger="click, keyup[ctrlKey&&key=='n'] from:body"
         hx-target="closest .page-models"
         hx-push-url="true">
        New
      </a>
    </div>
  </header>

  <% if models.any? %>
    <ul class="bit-gallery models">
      <% models.each do |model| %>
        <%= model.render :model %>
      <% end %>
    </ul>
  <% else %>
    <div class="models">
      <%= render "shared/empty", message: "No models found." %>
    </div>
  <% end %>
</section>

