<%= render "shared/title", text: "New Model" %>

<section class="bit-page page-models">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><a href="/models" class="link">Models</a></li>
      <li class="bit-breadcrumb">New</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="models">
      <form action="/models" method="post" class="bit-card bit-form model">
        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <h1 class="label">New Model</h1>

        <%= render :fields, model:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :post,
                     path: routes.path(:model_create),
                     target: ".page-models" %>

          <%= link_to "Cancel", routes.path(:models), class: "bit-button-decline" %>
        </div>
      </form>
    </div>
  </div>
</section>
