<%= render "shared/title", text: "#{model.label} Model" %>

<section class="bit-page page-models">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><a href="/models" class="link">Models</a></li>
      <li class="bit-breadcrumb"><%= model.label %></li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card model">
      <h2 class="label"><%= model.label %></h2>

      <div class="actions">
        <%= render "shared/actions/edit",
                   path: routes.path(:model_edit, id: model.id),
                   target: "closest .page-models" %>
      </div>

      <dl class="bit-definition-list">
         <dt class="key">
           Name
           <%= render "shared/popovers/trigger", name: :name %>
         </dt>
         <dd class="value"><%= model.name %></dd>

         <dt class="key">
           Description
           <%= render "shared/popovers/trigger", name: :description %>
         </dt>
         <dd class="value"><%= model.description %></dd>

         <dt class="key">
           Kind
           <%= render "shared/popovers/trigger", name: :kind %>
         </dt>
         <dd class="value"><%= model.kind_label %></dd>

         <dt class="key">
           MIME Type
           <%= render "shared/popovers/trigger", name: :mime_type %>
         </dt>
         <dd class="value"><%= model.mime_type %></dd>

         <dt class="key">
           Colors
           <%= render "shared/popovers/trigger", name: :colors %>
         </dt>
         <dd class="value"><%= model.colors %></dd>

         <dt class="key">
           Bit Depth
           <%= render "shared/popovers/trigger", name: :bit_depth %>
         </dt>
         <dd class="value"><%= model.bit_depth %></dd>

         <dt class="key">
           Rotation
           <%= render "shared/popovers/trigger", name: :rotation %>
         </dt>
         <dd class="value"><%= model.rotation %></dd>

         <dt class="key">
           X Offset
           <%= render "shared/popovers/trigger", name: :offset_x %>
         </dt>
         <dd class="value"><%= model.offset_x %></dd>

         <dt class="key">
           Y Offset
           <%= render "shared/popovers/trigger", name: :offset_y %>
         </dt>
         <dd class="value"><%= model.offset_y %></dd>

         <dt class="key">
           Scale Factor
           <%= render "shared/popovers/trigger", name: :scale_factor %>
         </dt>
         <dd class="value"><%= model.scale_factor %></dd>

         <dt class="key">
           Width
           <%= render "shared/popovers/trigger", name: :width %>
         </dt>
         <dd class="value"><%= model.width %></dd>

         <dt class="key">
           Height
           <%= render "shared/popovers/trigger", name: :height %>
         </dt>
         <dd class="value"><%= model.height %></dd>

         <dt class="key">
           Published
           <%= render "shared/popovers/trigger", name: :published %>
         </dt>
         <dd class="value"><%= human_at model.published_at %></dd>

        <dt class="key">Created</dt>
        <dd class="value"><%= human_at model.created_at %></dd>

        <dt class="key">Updated</dt>
        <dd class="value"><%= human_at model.updated_at %></dd>
      </dl>
    </div>
  </div>
</section>

<%= render "popovers/all" %>
