<li id="<%= playlist.id %>" class="bit-card playlist">
  <h2 class="label"><%= playlist.label %></h2>

  <%= render "shared/screen", uri: playlist.current_screen_uri %>

  <div class="bit-pill bit-pill-active">Current Screen</div>

  <div class="actions">
    <%= render "shared/actions/show",
               path: routes.path(:playlist, id: playlist.id),
               target: "closest .page-playlists" %>

    <%= render "shared/actions/edit",
               path: routes.path(:playlist_edit, id: playlist.id),
               target: "closest .page-playlists" %>

    <%= render "shared/actions/mirror",
               path: routes.path(:playlist_mirror_edit, id: playlist.id),
               target: "closest .page-playlists" %>

    <%= render "shared/actions/delete",
               path: routes.path(:playlist_delete, id: playlist.id),
               confirm: "Are you sure you want to delete this playlist?",
               target: "closest .playlist" %>
  </div>
</li>
