<%= render "shared/title", text: "Edit #{playlist.label} Playlist" %>

<section class="bit-page page-playlists">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Playlists", routes.path(:playlists), class: :link %>
      </li>

      <li class="bit-breadcrumb">
        <%= link_to playlist.label, routes.path(:playlist, id: playlist.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Edit</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card playlist">
      <form action="<%= routes.path :playlist_update, id: playlist.id %>"
            method="put"
            class="bit-form">

        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <h1 class="label">Edit Playlist</h1>

        <%= render :fields, playlist:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :put,
                     path: routes.path(:playlist_update, id: playlist.id),
                     target: ".page-playlists" %>

          <a href="<%= routes.path :playlist, id: playlist.id %>"
             class="bit-button-decline"
             hx-get="<%= routes.path :playlist, id: playlist.id %>"
             hx-trigger="click"
             hx-target="closest .page-playlists"
             hx-push-url="true">
             Cancel
          </a>
        </div>
      </form>

      <div hx-get="<%= routes.path :playlist_items, playlist_id: playlist.id %>" hx-trigger="load">
      </div>
    </div>
  </div>
</section>
