<%= render "shared/title", text: "New Playlist" %>

<section class="bit-page page-playlists">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Playlists", routes.path(:playlists), class: :link %>
      </li>

      <li class="bit-breadcrumb">New</li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="playlists">
      <form action="<%= routes.path :playlist_create %>"
            method="post"
            class="bit-card bit-form playlist">

        <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

        <h1 class="label">New Playlist</h1>

        <%= render :fields, playlist:, fields: fields.value, errors: %>

        <div class="form-actions">
          <%= render "shared/save_button",
                     verb: :post,
                     path: routes.path(:playlist_create),
                     target: ".page-playlists" %>

          <%= link_to "Cancel", routes.path(:playlists), class: "bit-button-decline" %>
        </div>
      </form>
    </div>
  </div>
</section>
