<%= render "shared/title", text: "#{playlist.label} Playlist" %>

<section class="bit-page page-playlists">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb">
        <%= link_to "Playlists", routes.path(:playlists), class: :link %>
      </li>

      <li class="bit-breadcrumb"><%= playlist.label %></li>
    </ul>
  </header>

  <div class="bit-body">
    <div class="bit-card playlist">
      <h2 class="label"><%= playlist.label %></h2>

      <div class="actions">
        <%= render "shared/actions/edit",
                   path: routes.path(:playlist_edit, id: playlist.id),
                   target: "closest .page-playlists" %>

        <%= render "shared/actions/mirror",
                   path: routes.path(:playlist_mirror_edit, id: playlist.id),
                   target: "closest .page-playlists" %>
      </div>

      <dl class="bit-definition-list">
        <dt class="key">Name</dt>
        <dd class="value"><%= playlist.name %></dd>

        <dt class="key">Created</dt>
        <dd class="value"><%= human_at playlist.created_at %></dd>

        <dt class="key">Updated</dt>
        <dd class="value"><%= human_at playlist.updated_at %></dd>
      </dl>

      <div class="show_items">
        <% items.each do |item| %>
          <%= item.render :item, playlist: %>
        <% end %>
      </div>
    </div>
  </div>
</section>
