<tr class="log">
  <%= tag.td log.created_at.strftime "%Y-%m-%d %I:%M:%S %p" %>
  <td><%= link_to log.id, routes.path(:device_log, device_id: device.id, id: log.id) %></td>
  <%= tag.td log.message, class: "bit-text-left" %>
  <%= tag.td log.refresh_rate %>
  <%= tag.td log.retry %>

  <td class="actions">
    <%= render "shared/actions/delete",
               path: routes.path(:device_log, device_id: device.id, id: log.id),
               confirm: "Are you sure you want to delete this device log?",
               target: "closest .log" %>
  </td>
</tr>
