<%= render "shared/title", text: "#{device.label} Logs" %>

<section class="bit-page page-devices">
  <header class="bit-header">
    <ul class="bit-breadcrumbs">
      <li class="bit-breadcrumb"><%= link_to "Devices", routes.path(:devices), class: :link %></li>

      <li class="bit-breadcrumb">
        <%= link_to device.label, routes.path(:device, id: device.id), class: :link %>
      </li>

      <li class="bit-breadcrumb">Logs</li>
    </ul>

    <div class="actions">
      <%= render "shared/search",
                 path: routes.path(:device_logs, device_id: device.id),
                 query:,
                 pick: ".bit-container",
                 target: "next .bit-container" %>


      <%= render "shared/actions/delete",
                 path: routes.path(:bulk_device_logs_delete, device_id: device.id),
                 label: "Delete All",
                 class: "bit-button",
                 confirm: "Are you sure you want to delete all logs for this device?",
                 target: ".bit-container" %>
    </div>
  </header>

  <div class="bit-container">
    <% if logs.any? %>
      <table>
        <thead>
          <tr>
            <th>Created</th>
            <th>ID</th>
            <th>Message</th>
            <th>Refresh Rate</th>
            <th>Retries</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% logs.each do |log| %>
            <%= log.render :log, device: %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render "shared/empty", message: "No logs found." %>
    <% end %>
  </div>
</section>
