<% new_uri = routes.path :playlist_item_new, playlist_id: playlist.id %>

<form action="<%= new_uri %>" method="post" class="bit-form" hx-ext="remove">
  <%= tag.input name: :_csrf_token, type: :hidden, value: csrf_token %>

  <%= render :fields, screen_options:, item:, fields: fields.value, errors: %>

  <div class="form-actions">
    <%= tag.input type: :submit,
                  value: "Save",
                  class: "bit-button-accept",
                  **HTMX[
                    post: routes.path(:playlist_item_create, playlist_id: playlist.id),
                    target: "closest .bit-form",
                    swap: "outerHTML",
                    disabled_elt: "this"
                  ] %>

    <%= tag.button "Cancel", class: "bit-button-decline", data: {remove: true} %>
  </div>
</form>
